@font-face {
    font-family: Quicksand;
    src: url(font/Quicksand/Quicksand-VariableFont_wght.ttf)
}

@font-face {
    font-family: Saira-bold;
    src: url(font/Saira/Saira-VariableFont_wdth\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;

}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #212529;
    font-family: Quicksand !important;
}

.fix {
    padding-bottom: 100px;
}

:root {
    --color-primary: #212529;
    --color-second: #FF6200;
    --color-three: #1E1E1E;
    --default-a: 0.9rem;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav ul {
    display: flex;
    gap: calc(25px);
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;
}

.navigation {
    background-color: var(--color-three);
}

.nav-text-all {
    display: flex;
    align-items: center;
}

.nav-text {
    font-size: var(--default-a);
    cursor: pointer;
}

.user-none {
    user-select: none;
    cursor: default;
}

.header {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/header/64b90821a7033\ \(1\)\ 1.png);
    z-index: 0;
    height: 600px;
}

.header > .container-fluid {
    height: 100%;
}

.container-fluid > .h{
    height: 100%;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-three);
    width: 35%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
}

.place-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.place-other {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    --bs-btn-hover-bg: #FF6200 ;
    background-color: var(--color-primary);
    border: none;
    width: 50%;
    padding: 10px;
}

.place-rentagle {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.rentagle {
    width: 200px;
    height: 250px;
}

.d-block {
    position: relative;
    height: 400px;
}

.place-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    top: 0;
    right: 7%;
    z-index: 3;
    height: 100%;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    color: var(--color-three);
}

.card {
    padding: 0;
    background-color: #FF6200;
    border: 1px solid #212529;
    border-radius: 0px;
}

.card-body {
    padding: 10px 10px;
    color: white;
    background-color: #FF6200;
}

.card-body p {
    font-size: 1.2rem;
}

.card-body a {  
    font-size: 1rem;
}

.card-body p,
.card-body a {
    color: white;
    background-color: #FF6200;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card_item {
    position: relative;
    user-select: none;
}

.card_item:hover .overlay {
    opacity: 1;
}

.card_item:hover img {
    transform: scale(1);
    filter: blur(3px);
}

.card_item img {
    transition: filter 0.3s ease;
}

.card-img, .card-img-top{
    border-radius: 0;
}

.padding-advantage {
    padding-bottom: 50px;
}

.advantage-item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap: 5px;
}

.img-advantage {
    width: 2rem;
    padding-bottom: 5px;
}

.card-advantages a{
    text-decoration: none;
}

.footer {
    background-color: var(--color-three);
}

.row-footer {
        border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.btn-footer {
    width: 100%;
}
