* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;

}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #212529;
}

header,
section,
main {
    padding-bottom: 100px;
}

:root {
    --color-primary: #212529;
    --color-second: #FF6200;
    --default-a: 0.9rem;
}

.logo {
    width: 106px !important;
    height: 125px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.margin-left-20 {
    margin-left: 20% !important;
}

.navbar {
    align-items: end !important;
    margin-left: 10%;
}

.nav-text {
    margin: 0px 15px !important;
    text-decoration: none;
    font-size: 24px
}

.dropdown-item {
    background-color: white !important;
    position: relative !important;
    display: inline-block !important;
}

.dropdown-item::after {
    content: '' !important;
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 0;
    height: 2px !important;
    background-color: black !important;
    transition: width 0.3s ease-out !important;
}

.dropdown-item:hover::after {
    width: 100%;
}

.dropdown-toggle::after {
    transition: transform 0.1s ease-in-out;
}

.dropdown-toggle:focus:after {
    transform: rotate(-90deg);
}

.nav-number {
    background-color: #FF6200;
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
    font-size: 24px;
    text-align: center;
}

.nav-number:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 1px 14px 1px rgba(253, 253, 253, 0.2);
    -moz-box-shadow: 0px 1px 14px 1px rgba(253, 253, 253, 0.2);
    box-shadow: 0px 1px 14px 1px rgba(253, 253, 253, 0.2);
}

.modal-header {
    background-color: white;
}

.modal-body {
    background-color: white;
}

.modal-title {
    background-color: white;
}

.call-us {
    background-color: white;
}

.modal {
    background-color: transparent;
}

.btn-secondary {
    background-color: #212529 !important;
    transition: background-color 0.3s ease-in-out !important;
}

.btn-secondary:hover {
    background-color: gray !important;
}

.vector_carousel {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
}

.carousel-control-next-icon {
    background-image: url(img/main/Vector.svg) !important;
    background-color: #FF6200 !important;
    border-radius: 5px;
}

.carousel-control-prev-icon {
    background-image: url(img/main/Vector\ left.svg) !important;
    background-color: #FF6200 !important;
    border-radius: 5px;
}

.carousel-control-prev {
    width: 5%;
}

.carousel-control-next {
    width: 5%;
}

.carousel {
    display: flex;
    justify-content: center;
}


.card {
    padding: 0;
    background-color: #FF6200;
    border: 1px solid #212529;
    border-radius: 0px;
}

.card-body {
    padding: 10px 10px;
    color: white;
    background-color: #FF6200;
}

.card-body p {
    font-size: 1.2rem;
}

.card-body a {
    font-size: 1rem;
}

.card-body p,
.card-body a {
    color: white;
    background-color: #FF6200;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card_item {
    position: relative;
    user-select: none;
}

.card_item:hover .overlay {
    opacity: 1;
}

.card_item:hover img {
    transform: scale(1);
    filter: blur(3px);
}

.card_item img {
    transition: filter 0.3s ease;
}

.carousel-text {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    color: #212529;
    font-size: 50px;
}

.ct-1 {
    right: 10%;
    top: 5%;
}

.ct-2 {
    right: 5%;
    top: 20%;
}

.ct-3 {
    right: 7%;
    top: 34%;
}

.ct-4 {
    top: 50%;
    right: 8%;
}

.ct-5 {
    top: 62%;
    right: 7%;
}

.carousel-btn {
    position: absolute;
    right: 7%;
    top: 80%;
    background-color: #212529;
    color: white;
    width: 230px;
    height: 66px;
    font-size: 25px;
    border: none;
    transition: all 0.3s;
    z-index: 5;
}

.carousel-btn:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 1px 14px 1px rgba(253, 253, 253, 0.2);
    -moz-box-shadow: 0px 1px 14px 1px rgba(253, 253, 253, 0.2);
    box-shadow: 0px 1px 14px 1px rgba(253, 253, 253, 0.2);
}

.card-img, .card-img-top{
    border-radius: 0;
}