@font-face {
    font-family: Quicksand;
    src: url(font/Quicksand/Quicksand-VariableFont_wght.ttf)
}

@font-face {
    font-family: Saira-bold;
    src: url(font/Saira/Saira-VariableFont_wdth\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;

}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #212529;
    font-family: Quicksand !important;
    padding-right: 0 !important;
}

.fix {
    padding-bottom: 100px;
}

:root {
    --color-primary: #212529;
    --color-second: #FF6200;
    --color-three: #1E1E1E;
    --default-a: 0.9rem;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav ul {
    display: flex;
    gap: calc(25px);
    list-style: none;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

h6 {
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;
}

.navigation {
    background-color: var(--color-three);
}

.nav-text-all {
    display: flex;
    align-items: center;
}

.nav-text {
    font-size: var(--default-a);
    cursor: pointer;
}

.user-none {
    user-select: none;
    cursor: default;
}

.header {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/header/64b90821a7033\ \(1\)\ 1.png);
    z-index: 0;
    height: 600px;
}

.header>.container-fluid {
    height: 100%;
}

.container-fluid>.h {
    height: 100%;
}

.h>.h-two {
    height: 100%;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-three);
    width: 35%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
}

.place-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.place-other {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    --bs-btn-hover-bg: #FF6200;
    background-color: var(--color-primary);
    border: none;
    width: 50%;
    padding: 10px;
}

.place-rentagle {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.rentagle {
    width: 200px;
    height: 250px;
}

.d-block {
    position: relative;
    height: 400px;
}

.place-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    top: 0;
    right: 7%;
    z-index: 3;
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
    color: var(--color-three);
}

.card {
    padding: 0;
    background-color: #FF6200;
    border: 1px solid #212529;
    border-radius: 0px;
}

.card-body {
    padding: 10px 10px;
    color: white;
    background-color: #FF6200;
}

.card-body p {
    font-size: 1.2rem;
}

.card-body a {
    font-size: 1rem;
}

.card-body p,
.card-body a {
    color: white;
    background-color: #FF6200;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card_item {
    position: relative;
    user-select: none;
}

.card_item:hover .overlay {
    opacity: 1;
}

.card_item:hover img {
    transform: scale(1);
    filter: blur(3px);
}

.card_item img {
    transition: filter 0.3s ease;
}

.card-img,
.card-img-top {
    border-radius: 0;
}

.padding-advantage {
    padding-bottom: 50px;
}

.advantage-item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap: 5px;
}

.img-advantage {
    width: 2rem;
    padding-bottom: 5px;
}

.card-advantages a {
    text-decoration: none;
}

.place-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-rew {
    box-shadow: 0px 0px 4px 2px white;
    background-color: var(--color-three) !important;
}

.card-body-rew {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-three);
    padding: 15px;
}

.card-down-rew {
    padding-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
}

.btn-rewievs {
    background-color: var(--color-three) !important;
}

.footer {
    background-color: var(--color-three);
}

.row-footer {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.down-modal {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.place-logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn-footer {
    width: 100%;
}

.modal-backdrop.show {
    display: none;
}

.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    pointer-events: auto;
    background-color: var(--color-primary);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.btn-close {
    background-color: white;
    opacity: 1;
}

.modal-footer {
   flex-wrap: nowrap
}

.btn-modal {
    background-color: var(--color-three)
}

@media (max-width: 768px) and (min-width: 320px) {
    .header::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-three);
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: -1;
    }

    .phone-item {
        text-align: center !important;
        margin-top: 10px;
        font-size: 0.6rem;
    }

    .nav-text-all {
        text-align: center !important;
        justify-content: center !important;
    }

    .nav-text {
        font-size: 0.6rem;
    }

    .place-rentagle {
        display: none;
    }

    .place {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }

    .place-logo,
    .place-other {
        text-align: center;
        width: 75%;
    }

    .place-logo-footer {
        width: 100%;
    }

    .place-text-footer h4 {
        font-size: 1.2rem;
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
    }

    .place-text-footer li {
        font-size: 1rem !important;
    }

    .place-text-footer a {
        font-size: 1rem !important;
        line-height: 0.2 !important;
    }

    .place-logo-footer h2 {
        font-size: medium !important;
    }

    .place-text-footer {
        width: 95%;
        margin: 20px 0px;
    }

    .place-text {
        right: 2%;
    }

    .place-text h2 {
        font-size: 0.7rem;
    }

    .place-text h3 {
        font-size: 0.5rem;
    }

    .place-text button {
        font-size: 0.5rem;
        width: 100%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 5%;
    }

    .d-block {
        height: 200px;
    }

    .inactive-text {
        display: block;
    }

    .card {
        width: 15rem !important;
    }

    .card-advantages {
        margin-bottom: 50px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .place-logo h2 {
        font-size: small;
    }

    .place-other a {
        font-size: 0.6rem;
    }

    .row-rentagle {
        gap: 4%;
    }

    .rentagle {
        width: 125px;
        height: 150px;
        margin-top: 40px;
    }

    .place-text-footer h4 {
        font-size: medium;
    }

    .place-text-footer li {
        font-size: 0.8rem !important;
    }

    .place-text-footer a {
        font-size: 0.6rem !important;
    }

    .place-logo-footer h2 {
        font-size: medium !important;
    }

    .place-logo-footer img {
        width: 50%;
    }

    .place-text {
        right: 5%;
    }

    .place-text h2 {
        font-size: 1.2rem;
    }

    .place-text h3 {
        font-size: 1rem;
    }

    .place-text button {
        font-size: 1rem;
        width: 75%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 7%;
    }

    .inactive-text {
        display: none;
    }

    .card-advantages {
        margin-bottom: 75px;
    }

    .rewievs {
        gap: 1%;
    }
}

@media (min-width: 1024px) {
    .place-logo h2 {
        font-size: medium;
    }

    .place-other a {
        font-size: small;
    }

    .rewievs {
        gap: 5%;
    }
}

@media (max-width: 1439px) and (min-width: 1024px) {
    .place-text {
        right: 7%;
    }

    .place-text h2 {
        font-size: 1.4rem;
    }

    .place-text h3 {
        font-size: 1.2rem;
    }

    .place-text button {
        font-size: 1rem;
        width: 75%;
    }

    .inactive-text {
        display: none;
    }
}

@media (max-width: 1152px) and (min-width: 1024px) {
    .rentagle {
        width: 150px;
        height: 200px;
        margin-top: 20px;
    }
}

@media (min-width: 1440px) {
    .row-rentagle {
        gap: 9%;
    }

    .place-logo h2 {
        font-size: x-large;
    }

    .place-other a {
        font-size: medium;
    }

    .d-block {
        height: auto;
    }

    .inactive-text {
        display: none;
    }
}

@media (min-width: 1920px) {
    .row-rentagle {
        gap: 12%;
    }

    .d-block {
        height: auto;
    }

    .inactive-text {
        display: none;
    }

}

/* конец index.html */

.divan-one{
    position: absolute;
    height: 100px;
    top: 90%;
    left: 75%;
    transform: rotate(35deg);
}

.divan-two{
    position: absolute;
    height: 100px;
    bottom: -300px;
    left: 10%;
    transform: rotate(-35deg);
}

.shkaf-one{
    position: absolute;
    height: 150px;
    bottom: -500px;
    left: 70%;
}

.divan-three{
    position: absolute;
    height: 100px;
    top: 1800px;
    left: 200px;
    transform: rotate(-35deg);
}

.shkaf-two{
    position: absolute;
    height: 150px;
    top: 1800px;
    right: 200px;
    transform: rotate(35deg);
}

.divan-four{
    position: absolute;
    height: 150px;
    top: 2200px;
    right: 200px;
}

.image_www {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: var(--color-three) !important;
    padding: 100px 15px;
}

.image_we_c{
    height: 700px;
}

.image-www{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.title-we-best{
    justify-content: center;
    display: flex;
    padding-top: 30px;
}

.title-client{
    display: flex;
    justify-content: center;
}

.text-client {
    width: 700px;
    display: grid;
    justify-content: end;
}

.text-client-one {
    display: flex;
    width: 400px;
    font-weight: bold;
    position: relative;
    right: 100px;
}

.text-client-two {
    display: flex;
    width: 500px;
    font-weight: bold;
}

.carousel-two {
    width: auto;
}

.carousel-second {
    justify-content: start;
    gap: 5%;
}

.wrap-client_buy {
    flex-wrap: nowrap;
}
